#root
  text-align: center
  font-family: 'Montserrat', sans-serif

body
  margin: 0
  min-height: 100vh

.layout
  min-height: 100vh
  display: flex
  flex-direction: column
  width: 100%

.header-container
  width: 100%
  display: flex
  justify-content: center

.main-content
  max-width: 1240px
  width: 100%
  margin: 0 auto
  flex-grow: 1
  display: flex
  flex-direction: column
  justify-content: center


img
  width: 100%
  height: 100%
  object-fit: cover


// ============= COMPONENTS ============= //

// ------ BoxImg ------ //
.box-img
  display: flex
  overflow: hidden
  cursor: pointer

.navbar-logo
  width: 210px
  height: 68px

@media (max-width: 375px)
  .navbar-logo
    width: 145px
    height: 48px


// ------ NavBar ------ //
.navBar-container
  width: 1240px
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1rem 0

.navBar-links
  display: flex
  gap: 4rem
  font-size: 24px
  font-weight: 500

  a
    text-decoration: none
    cursor: pointer
    color: inherit

    &:hover
      text-decoration: underline

@media (max-width: 375px)
  .navBar-container
    width: 100%
    padding: 1rem

  .navBar-links
    gap: 2rem

    a
      text-transform: uppercase
      font-size: 12px


// ------ Banner ------ //
.banner-container
  margin: 2.5rem 0

.banner
  position: relative
  height: 223px
  border-radius: 25px
  background-size: cover
  background-position: center
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)
  overflow: hidden

  display: flex
  align-items: center
  justify-content: center

.banner-overlay
  position: absolute
  inset: 0

.banner-text
  position: relative
  z-index: 1
  color: #ffffff
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55)
  font-size: 48px
  font-weight: 700
  text-align: center

@media (max-width: 375px)
  .banner-container
    padding: 1rem
    margin: 0

  .banner
    height: 111px
    border-radius: 10px
    justify-content: flex-start
    padding-left: 1rem

  .banner-text
    font-size: 24px
    text-align: left
    max-width: 225px


// ------ DropDown ------ //
.dropdown
  max-width: 1023px
  margin-bottom: 1.5rem

.dropdown-header
  width: 100%
  background-color: #FF6060
  color: white
  border: none
  border-radius: 5px
  padding: 0.8rem 1.2rem
  font-size: 24px
  font-weight: 700
  display: flex
  justify-content: space-between
  align-items: center
  cursor: pointer

.dropdown-arrow
  font-size: 18px
  transition: transform 0.3s ease

  &.open
    transform: rotate(180deg)

.dropdown-content
  background-color: #F6F6F6
  font-size: 21px
  border-radius: 0 0 5px 5px
  padding: 0 1.2rem
  overflow: hidden
  max-height: 0
  transition: max-height 0.3s ease, padding 0.3s ease
  text-align: left

  &.open
    max-height: 300px
    padding: 1rem

  p
    margin: 0
    font-size: 16px
    line-height: 1.5

@media (max-width: 375px)
  .dropdown-header
    font-size: 13px
    padding: 0.5rem 1rem

  .dropdown-arrow
    font-size: 14px

  .dropdown-content
    font-size: 11px

// ------ Tag ------ //
.tag
  min-width: 115px
  height: 25px
  padding: 0 0.5rem
  border-radius: 10px
  background-color: #FF6060
  color: #ffffff
  font-size: 14px
  font-weight: 700

  display: flex
  align-items: center
  justify-content: center

@media ( max-width: 375px )
  .tag
    min-width: 84px
    height: 18px
    font-size: 10px
    border-radius: 5px


// ------ Carousel ------ //
.carousel
  position: relative
  width: 100%
  height: 500px
  border-radius: 25px
  overflow: hidden

.carousel-image
  width: 100%
  height: 100%
  object-fit: cover

.carousel-button
  position: absolute
  top: 50%
  transform: translateY(-50%)
  background: none
  border: none
  color: white
  font-size: 100px
  cursor: pointer

.carousel-button.left
  left: 20px

.carousel-button.right
  right: 20px

.carousel-counter
  position: absolute
  bottom: 15px
  left: 50%
  color: white
  font-size: 24px

@media (max-width: 375px)
  .carousel
    height: 255px

  .carousel-button
    font-size: 24px

  .carousel-counter
    font-size: 14px


// ------ Rating Star ------ //
.rating
  display: flex
  gap: 0.5rem

.star
  font-size: 24px
  color: #E3E3E3

.star.active
  color: #FF6060



// ============= PAGES ============= //

// ------ 404 ------ //
.notFound-page 
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.notFound-content
  display: flex
  flex-direction: column
  justify-content: center
  flex-grow: 1      // permet à l'élément de prendre l’espace restant
  flex-shrink: 1    // autorise l'élément à rétrécir si nécessaire
  flex-basis: 0%    // taille de base = 0 pour partager l’espace équitablement

  align-items: center
  text-align: center

  font-size: 36px
  font-weight: 500
  color: #FF6060
  gap: 5rem
  margin: 5rem 0

.notFound-404
  font-size: 288px
  font-weight: 700
  margin: 0px

.redirection-404
  font-size: 18px
  font-weight: 500
  color: #000000
  text-decoration: underline
  cursor: pointer

@media (max-width: 375px)
  .notFound-page
    padding: 1rem

  .notFound-content
    font-size: 18px
    margin: 0
  
  .notFound-404
    font-size: 99px
  
  .redirection-404
    font-size: 14px


// ------ About ------ //
.about-dropdowns
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 5rem
  gap: 1.7rem

  a
    text-decoration: none
    cursor: pointer
    color: inherit

    &:hover
      text-decoration: underline
  
@media (max-width: 375px)
  .about-dropdowns
    padding: 0 1rem
    margin-top: 2rem
    gap: 0


// ------ Footer ------ //
.footer-container
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: #000
  color: #ffffff
  font-size: 24px
  font-weight: 500
  height: 209px
  margin-top: 3rem

@media (max-width: 375px)
  .footer-container
    font-size: 12px
    margin-top: 1.5rem


// ------ Home ------ //
.home-section-container
  width: 100%

.thumb-link
  text-decoration: none
  color: inherit
  cursor: pointer

.thumb-card
  display: flex
  align-items: flex-end  
  justify-content: flex-start 
  width: 340px
  height: 340px
  border-radius: 16px
  background-size: cover
  background-position: center

  position: relative     
  overflow: hidden       

  // ::after  => ajoute un élément virtuel après
  // &        => fait référence à la classe parent en Sass
  // &::after => pseudo-élément appliqué à la classe actuelle
  &::after                
    content: "" // Ça crée une couche invisible au-dessus de la card
    position: absolute
    inset: 0
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(10, 10, 10, 0) 42%,
      rgba(4, 4, 4, 0.205) 99.99%,
      rgba(0, 0, 0, 0.5) 100%
    )
    z-index: 0

.thumb-title
  margin: 0.5rem
  width: 175px
  text-align: left
  padding: 1rem
  color: #fff
  font-size: 18px
  font-weight: 700
  

  position: relative  
  z-index: 1           

.thumb-container
  display: flex
  flex-wrap: wrap
  gap: 3.5rem
  justify-content: center

  background-color: #F6F6F6
  border-radius: 25px
  padding: 3.5rem 0rem

@media (max-width: 376px)
  .thumb-container
    background-color: transparent
    padding: 5px 0
    gap: 1.2rem

  .thumb-card
    height: 255px


//------ Logement ------ //
.logement-section-container
  margin-top: 2rem

.logement-header
  display: flex
  flex-direction: column
  gap: 2rem
  margin-top: 2rem

.container-host
  display: flex
  justify-content: space-between
  align-items: center

.title-block
  text-align: left

.title-block h1
  margin: 0
  font-size: 36px
  font-weight: 500
  color: #FF6060

.location
  margin-top: 0.5rem
  font-size: 18px

.host
  display: flex
  align-items: center
  gap: 1rem

.host p
  font-size: 18px
  font-weight: 500
  color: #FF6060
  text-align: right

.host-picture
  overflow: hidden

.host-picture img
  width: 100%
  height: 100%
  object-fit: cover
  border-radius: 50%

.host-mobile
  display: none

.tags
  display: flex
  gap: 0.5rem
  flex-wrap: wrap

.rating
  display: flex
  gap: 0.5rem

.star
  font-size: 24px
  color: #E3E3E3

.star.active
  color: #FF6060

.dropdown-container
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 2rem
  margin-top: 2rem

.equipment-list
  list-style: none
  padding: 0
  margin: 0

.equipment-list li
  margin-bottom: 0.5rem


@media (max-width: 375px)

  .logement-section-container
    padding: 0 1rem
    margin-top: 1rem

  .logement-header
    gap: 0rem

  // Cache host desktop
  .host-desktop
    display: none

  .rating-host-mobile
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    
  // Affiche host mobile
  .host-mobile
    display: flex
    justify-content: flex-end
    align-items: center
    width: 100%

  .title-block h1
    font-size: 18px

  .location
    font-size: 14px

  .host p
    font-size: 12px

  .container-host
    flex-direction: column
    align-items: flex-start
    gap: 1rem

  .dropdown-container
    grid-template-columns: 1fr
    gap: 0rem
    margin: 1rem 0 0 0

  .star
    font-size: 18px