:root
  font-family: "Montserrat", sans-serif
  line-height: 1.5
  font-weight: 400



  font-synthesis: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

#root
  width: 1240px
  margin: 0 auto
  padding: 2rem
  text-align: center

body
  margin: 0
  display: flex
  place-items: center
  min-width: 320px
  min-height: 100vh

img
  width: 100%
  height: 100%
  object-fit: cover

// ============= COMPONENTS ============= //

// ------ BoxImg ------ //
.box-img
  display: flex
  overflow: hidden
  cursor: pointer

// ------ NavBar ------ //
.navBar-container
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1rem 0

.navBar-links
  display: flex
  gap: 4rem
  font-size: 24px
  
  a
    text-decoration: none
    cursor: pointer
    color: inherit

    &:hover
      text-decoration: underline
// ------ Footer ------ //
.footer-container
  display: flex
  flex-direction: column
  align-items: center
  background-color: #000
  color: #ffffff
  font-size: 24px
  font-weight: 500
  // police montserrat a ajouter
  padding: 1rem 0


// ------ Thumb card ------ //
.thumb-card
  position: relative
  width: 340px
  height: 340px
  border-radius: 16px
  border: 1px solid #000 // ne pas oublier a retirer
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(10, 10, 10, 0) 42%,
    rgba(4, 4, 4, 0.205) 99.99%,
    rgba(0, 0, 0, 0.5) 100%
)

.thumb-tittle
  position: absolute
  left: 0
  bottom: 0
  width: 100px
  text-align: left
  padding: 0 1rem
  color: #ffffff
  font-size: 18px
  font-weight: 700

.thumb-container
  display: flex
  flex-wrap: wrap
  gap: 3.5rem
  justify-content: center

  background-color: #F6F6F6
  border-radius: 25px
  padding: 3.5rem 0rem


// ------ Tag ------ //
.tag
  width: 115px
  height: 25px
  border-radius: 10px
  background-color: #FF6060
  color: #ffffff
  font-size: 14px
  font-weight: 500
  // police montserrat a ajouter

  display: flex
  align-items: center
  justify-content: center


// ------ Banner ------ //
.banner
  width: 100%
  height: 223px
  margin-bottom: 2rem
  border-radius: 25px
  background-color: #0000001f // a retirer et a remplacer par une image de fond
  // background-image: url("../assets/banner.png") + opacité 60%
  background-size: cover
  background-position: center
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)

  color: #ffffff
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)
  -webkit-text-stroke: 1px rgba(0, 0, 0, 1)
  font-size: 48px
  font-weight: 700
  // police montserrat a ajouter

  display: flex
  align-items: center
  justify-content: center